@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
input{
    outline: none;
}
html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#head{
    width: 100%;
    position: absolute;
    z-index: 99;
    text-align: center;
    img{
        width: 100%;
        height: 100%;
    }
    p{
        width: 100px;
        position: absolute;
        font-size: 2.2rem;
        font-weight: bolder;
        top: 1.7rem;
        color: white;
        left: 50%;
        margin-left: -50px;
    }
    input{
        position: absolute;
        width:80%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding-left: 1rem;
        border-radius: 5rem;
        background-color: #f5f5f5;
        font-size: 1.8rem;
        bottom: 1.5rem;
        left: 10%;
        color: black;
        outline: none;
        border: none;
    }
}
.list-all{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    overflow: auto;
    display: flex;
    margin-top: 100px;
    .list-left{
        width: 30%;
        height: 100%;
        
        ul{
            overflow: hidden;
            overflow-y: auto;
            width: 100%;
            height: 100%;
            background: lightgray;
            li{
                width: 100%;
                list-style: none;
                text-align: center;
                font-size: 1.8rem;
                padding: 3rem 1rem;
//              &:hover{
//                  color: red;
//                  background: cyan;
//              }
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    .list-right{
        width: 70%;
        height: 100%;
        overflow: auto;
        position: relative;
        .content:not(#zhu){
            transform: translateX(100%);
        }
        .content{
            width: 100%;
            height: 100%;
            padding: 1rem 2rem;
            overflow: auto;
            position: absolute;
             h1{
                        padding-bottom: 1rem;
               }
            ul{
                width: 100%;
                display: flex;
                padding-bottom: 2rem;
                li{
                    padding-right: 1rem;
                    list-style: none;
                    width: 50%;
                    img{
                        width: 100%;
                    }
                    p{
                        font-size: 1.8rem;
                        padding-top: 0.5rem;
                    }
                }
            }
        }
       
    }
}
footer {
    ul {
        display: flex;
        justify-content: space-around;
        li {
            list-style: none;
            text-align: center;
            a {
                text-decoration: none;
                color: black;
//              &:link{
//                  color: black;
//              }
//              &:visited {
//                  color:black;
//              }
//              &:hover {
//                  color: red;
//              }
//              &:active {
//                  color: red;
//              }
                img {
                    width: 2rem;
                }
                p {
                    font-size: 1.7rem;
                    padding-top: 0.5rem;
                }
            }
        }
    }
}
.add{
    color: blue;
    background: lightblue;
}
